absl-py==2.2.2
cachetools==5.5.2
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.1.8
cloudpickle==3.1.1
etils==1.12.2
Farama-Notifications==0.0.4
filelock==3.18.0
fsspec==2025.3.2
glfw==2.9.0
google-api-core==2.24.2
google-auth==2.40.1
google-cloud-core==2.4.3
google-cloud-storage==3.1.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
gymnasium==1.1.1
gymnasium-robotics==1.3.1
h5py==3.13.0
huggingface-hub==0.31.4
idna==3.10
imageio==2.37.0
importlib_resources==6.5.2
jax==0.6.0
jaxlib==0.6.0
Jinja2==3.1.6
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
minari==0.5.3
ml_dtypes==0.5.1
mpmath==1.3.0
mujoco==3.1.6
networkx==3.4.2
numpy==2.2.6
opt_einsum==3.4.0
packaging==25.0
pettingzoo==1.25.0
pillow==11.2.1
proto-plus==1.26.1
protobuf==6.31.0
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
Pygments==2.19.1
PyOpenGL==3.1.9
PyYAML==6.0.2
requests==2.32.3
rich==14.0.0
rsa==4.9.1
scipy==1.15.3
setuptools==80.7.1
shellingham==1.5.4
sympy==1.14.0
torch==2.7.0
torchaudio==2.7.0
torchvision==0.22.0
tqdm==4.67.1
typer==0.15.4
typing_extensions==4.13.2
urllib3==2.4.0
zipp==3.21.0
